body {
    background-color: #343a40; /* Color de fondo oscuro */
    color: #fff; /* Color del texto */
   }
   .black-line {
    height: 110px;
   background-color: #222; /* Color de la línea negra un poco menos oscuro */
    width: 100%;
   display: flex;
    align-items: center;
    justify-content: center;
   }
   .white-text {
    color: #fff; /* Color del texto blanco */
    }
   .img-fluid{
    max-width: 400px;
    max-height: 300px;
           }
   
   .relative {
       position: relative;
   }
   .flex {
       display: flex;
   }
   .transition-all {
       transition: all 0.3s;
   }
   
   .rounded-lg {
       border-radius: 0.5rem;
   }
   
   .mt-3 {
       margin-top: 1rem;
   }
   .flex-grow-0 {
       flex-grow: 0;
   }
   .cover {
       position: relative;
       background-size: contain;
       background-position: center;
   }
   .w-28 {
       width: 7rem;
   }
   .sm\:w-36 {
       width: 9rem;
   }
   .h-full {
       height: 100%;
   }
   .rounded-l-lg {
       border-radius: 0.3rem 0 0 0.3rem;
   }
   .-mb-1 {
       margin-bottom: -0.25rem;
   }
   
   .absolute {
       position: absolute;
   }
   .z-10 {
       z-index: 10;
   }
   .bg-cover {
       background-size: cover;
   }
   .bg-no-repeat {
       background-repeat: no-repeat;
   }
   .bg-center {
       background-position: center;
   }
   .z-20 {
       z-index: 20;
   }
   .bg-contain {
       background-size: contain;
   }
   .top-0 {
       top: 0;
   }
   .left-0 {
       left: 0;
   }
   
   .flex-grow {
       flex-grow: 1;
   }
   .p-3 {
       padding: 0.75rem;
   }
   .items-center {
       align-items: center;
   }
   .justify-start {
       justify-content: flex-start;
   }
   .gap-3 {
       gap: 0.75rem;
   }
   .flex-nowrap {
       flex-wrap: nowrap;
   }
   .badge {
       display: inline-block;
       padding: 0.25em 0.4em;
       font-size: 75%;
       font-weight: 400;
       line-height: 1;
       text-align: center;
       white-space: nowrap;
       vertical-align: baseline;
       border-radius: 0.25rem;
   }
   .rounded {
       border-radius: 0.25rem;
   }
   .text-xs {
       font-size: 0.75rem;
   }
   .sm\:text-sm {
       font-size: 0.875rem;
   }
   
   
   .mt-1 {
       margin-top: 0.25rem;
   }
   .sm\:mt-3 {
       margin-top: 0.75rem;
   }
   .font-semibold {
       font-weight: 600;
   }
   .text-xl {
       font-size: 1.25rem;
   }
   .sm\:text-2xl {
       font-size: 1.5rem;
   }
   .text-black {
       color: #000;
   }
   .text-white {
       color: #fff;
   }
   
   .badge-container {
       display: flex;
       gap: 0.25rem;
       flex-wrap: nowrap;
   }